<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.inquiry">
	
	<!-- inquiry mysearch -->
	<select id="mysearch" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
		
		select rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
		from (select rownum rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
				from (select iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid
						from hotel_inquiry  
							<choose>
						    <when test="searchlist == 'title'">
									where title like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <when test="searchlist == 'hotel'">
									where hotelname like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <otherwise>
						      		where category like '%'||#{keyword}||'%' order by idate desc)
						    </otherwise>
						  </choose> 
					)	  
		where mid = #{mid}
		
	</select>
	
	<!-- inquiry mylist -->
	<select id="mylist" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
	
		SELECT RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, RCOUNT FROM
			(SELECT ROWNUM RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, rcount FROM
				(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, count(rcount)  rcount FROM
					(SELECT hi.IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, ri.iid rcount
					FROM hotel_inquiry hi, reply_inquiry ri 
					where hi.iid = ri.iid(+)
					)
					GROUP BY IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID
					order by idate desc
				)   
				WHERE MID=#{mid} 
			) 
			WHERE rno between #{start} and #{end}
	
	</select>
	
	
	<!-- inquiry searchcount -->
	<select id="searchcount" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
		
		select count(*) from hotel_inquiry 
			 <choose>
				<when test="searchlist == 'title'">
					where title like '%'||#{keyword}||'%'
				</when>

				<when test="searchlist == 'hotel'">
					where hotelname like '%'||#{keyword}||'%'
				</when>

				<otherwise>
					where category like '%'||#{keyword}||'%' 
				</otherwise>
			</choose>
		
	</select>
	
	<!-- inquiry search -->
	<select id="search" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
		
		select rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
		from (select rownum rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
				from (select iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid
						from hotel_inquiry 
						
						  <choose>
						    <when test="searchlist == 'title'">
									where title like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						   <when test="searchlist == 'writer'">
									where mid like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <when test="searchlist == 'hotel'">
									where hotelname like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <otherwise>
						      		where category like '%'||#{keyword}||'%' order by idate desc)
						    </otherwise>
						  </choose>
 				) 
		where rno between #{start} and #{end}		
		
	</select>
	
	<!-- inquiry faqsearch table : 나중에db에 만들고 vo변경해야함...-->
	<select id="faqsearch" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
		
		select rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
		from (select rownum rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
				from (select iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid
						from hotel_inquiry 
						
									where title like '%'||#{keyword}||'%' or content like '%'||#{keyword}||'%' order by idate desc)
 				) 
		where rno between #{start} and #{end}		
		
	</select>
	
	
	
	<!-- inquiry passcheck -->
	<select id="passcheck" parameterType="map" resultType="int">
		
		select count(secretnum) from hotel_inquiry where iid=#{iid} and secretnum=#{pass}
		
	</select>
	
	<!-- inquiry totalcount -->
	<select id="totalcount" parameterType="com.hotel.vo.HotelInquiryVO" resultType="int">
		
				select count(*) from 
		<choose>
			<when test="rcount == 0">
				hotel_inquiry
			</when>
			<otherwise>
					(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, count(rcount)  rcount FROM
						(SELECT hi.IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, ri.iid rcount
							FROM hotel_inquiry hi, reply_inquiry ri 
							where hi.iid = ri.iid(+)
						)
									GROUP BY IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID
									order by idate desc)
				 where rcount=0
			</otherwise>	
		</choose>
		
	</select>
	
	<!-- inquiry mycount -->
	<select id="mycount" parameterType="java.lang.String" resultType="int">
		
		SELECT count(*) FROM HOTEL_INQUIRY WHERE MID=#{mid} 
		
	</select>
	
	<!-- inquiry delete -->
	<delete id="delete" parameterType="java.lang.String">
		
		delete from hotel_inquiry where iid=#{iid}
		
	</delete>
	
	<!-- inquiry update -->
	<update id="update" parameterType="com.hotel.vo.HotelInquiryVO">
		
		UPDATE HOTEL_INQUIRY SET HOTELNAME=#{hotelname}, CATEGORY=#{category}, TITLE=#{title}, CONTENT=#{content}, IFILE=#{ifile}, ISFILE=#{isfile},
			SECRET=#{secret}, SECRETNUM=#{secretnum} WHERE IID=#{iid}
	
	</update>
	
	<!-- inquiry updatenofile -->
	<update id="updatenofile" parameterType="com.hotel.vo.HotelInquiryVO">
		
		UPDATE HOTEL_INQUIRY SET HOTELNAME=#{hotelname}, CATEGORY=#{category}, TITLE=#{title}, CONTENT=#{content}, SECRET=#{secret}, SECRETNUM=#{secretnum}
		WHERE IID=#{iid}
	
	</update>
		
	<!-- inquiry list -->
	<select id="list" parameterType="map" resultType="com.hotel.vo.HotelInquiryVO">
	
		SELECT RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, RCOUNT FROM
			(SELECT ROWNUM RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, rcount FROM
				(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, count(rcount)  rcount FROM
					(SELECT hi.IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, ri.iid rcount
					FROM hotel_inquiry hi, reply_inquiry ri 
					where hi.iid = ri.iid(+)
					)
					GROUP BY IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID
					order by idate desc
				)      
			) 
		WHERE RNO BETWEEN #{start} AND #{end}
	
	</select>

	<!-- inquiry content -->
	<select id="content" parameterType="java.lang.String" resultType="com.hotel.vo.HotelInquiryVO">
	
		SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, ifile, isfile, IDATE, MID, RCOUNT FROM
			(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, ifile, isfile, IDATE, MID, rcount FROM
				(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, ifile, isfile, IDATE, MID, count(rcount)  rcount FROM
					(SELECT hi.IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, ifile, isfile, IDATE, MID, ri.iid rcount
					FROM hotel_inquiry hi, reply_inquiry ri 
					where hi.iid = ri.iid(+)
					)
					GROUP BY IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, ifile, isfile, IDATE, MID
					order by idate desc
				)
			) 
		WHERE iid = #{iid}
	
	</select>

	<!-- inquiry insert -->
	<insert id="insert" parameterType="com.hotel.vo.HotelInquiryVO">
		
		insert into hotel_inquiry values('i_'||sequ_hotel_inquiry.nextval,
			#{category}, #{title}, #{content}, #{secret}, #{secretnum}, #{ifile}, #{isfile}, sysdate, #{hotelname}, #{mid})
	
	</insert>


</mapper>
