<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.reply">
	
	<!-- reply search -->
	<select id="search" parameterType="com.hotel.vo.HotelSearchVO" resultType="com.hotel.vo.HotelInquiryVO">
		
		select rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
		from (select rownum rno, iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid 
				from (select iid, hotelname, category, title, content, secret, secretnum, ifile, isfile, idate, mid
						from hotel_inquiry 
						
						  <choose>
						    <when test="searchlist == 'title'">
									where title like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						   <when test="searchlist == 'writer'">
									where mid like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <when test="searchlist == 'hotel'">
									where hotelname like '%'||#{keyword}||'%' order by idate desc)
						    </when>
						    <otherwise>
						      		where category like '%'||#{keyword}||'%' order by idate desc)
						    </otherwise>
						  </choose>
 				) 
		where rno between #{start} and #{end}		
		
	</select>
	
	<!-- reply delete -->
	<delete id="delete" parameterType="java.lang.String">
		
		DELETE FROM REPLY_INQUIRY WHERE IID = #{iid}
		
	</delete>
	
	<!-- reply content -->
	<select id="content" parameterType="java.lang.String" resultType="com.hotel.vo.ReplyInquiryVO">
	
		select iid, reid, recontent, redate, hcount from
			(select iid, reid, recontent, redate, count(hcount) hcount from
				(select ri.iid, reid, recontent, redate, hi.iid hcount
				from reply_inquiry ri, hotel_inquiry hi where ri.iid = hi.iid(+))
			group by iid, reid, recontent, redate)
			where iid = #{iid}
	
	</select>
	
	<!-- reply insert -->
	<insert id="insert" parameterType="com.hotel.vo.ReplyInquiryVO">
		
		insert into reply_inquiry values('re_'||sequ_reply_inquiry.nextval, #{recontent}, sysdate, #{iid})
	
	</insert>
	
	<!-- reply replynone -->
	<select id="replynone" parameterType="map" resultType="com.hotel.vo.HotelInquiryVO">
	
		 SELECT RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, RCOUNT FROM
			(SELECT ROWNUM RNO, IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, rcount FROM
				(SELECT IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, count(rcount)  rcount FROM
					(SELECT hi.IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID, ri.iid rcount
					FROM hotel_inquiry hi, reply_inquiry ri 
					where hi.iid = ri.iid(+)
					)
					GROUP BY IID, HOTELNAME, CATEGORY, TITLE, SECRET, SECRETNUM, CONTENT, IDATE, MID
					order by idate desc
				)
                where rcount='0'
			) 
		WHERE rno between #{start} and #{end}
	
	</select>
	
	<!-- reply list -->
	<select id="list" parameterType="map" resultType="com.hotel.vo.ReplyInquiryVO">
		select reid, RECONtENT, redate, iid from reply_inquiry
	</select>
	
</mapper>
