<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="mapper.myroom">
    
    <select id="totalcount" resultType="int" parameterType="java.lang.String">
		select count(*)
        from (select rownum rno, HOTEL_MEMBER.mid,basket.bid,book.radatestart,book.radateend,book.price,book.booknum,basket.bsfile,basket.brname from HOTEL_MEMBER,book,basket
		where HOTEL_MEMBER.mid = book.mid and book.bid = basket.bid and HOTEL_MEMBER.mid=#{mid})
	</select>
    
    <!-- myroom selectAll -->
	<select id="selectAll" parameterType="map" resultType="com.hotel.vo.MyroomVO">
		select rno, mid,bid,radatestart,radateend,price,booknum,bsfile,brname
      from (select rownum rno, HOTEL_MEMBER.mid,basket.bid,book.radatestart,book.radateend,book.price,book.booknum,
      basket.bsfile,basket.brname from HOTEL_MEMBER,book,basket
		where HOTEL_MEMBER.mid = book.mid and book.bid = basket.bid and HOTEL_MEMBER.mid=#{mid}) where rno BETWEEN #{start} and #{end}
	</select>
	
	<delete id="deletMyroom" parameterType="map"> 
		DELETE FROM book where mid=#{mid} and booknum=#{booknum}
	</delete>
    
</mapper>