@charset "UTF-8";

body { margin:0; padding:0; }

/********************* inquiry-list, my_list, admin_inquiry-list *********************/
.lnbAreaMenuBar{ float:left; }
.lnbAreaMenuBar .MenuBar > .tit{ margin:0 0 29px 0; height:53px; background:url(http://localhost:9000/hotel/resources/img/inquiry/lnbTitle.gif); display:block; /* text-indent:-9999%; */ overflow:hidden;}
.MenuBar{ font-family:나눔명조OTF ExtraBold; width:216px; border:#ebe7e3 solid 1px; background:#ebe7e3; padding:23px; margin:0 0 30px 0;}
.MenuBar .tit { margin-top:7px; font-family:나눔명조OTF; font-weight: lighter; color:rgb(88,88,88); margin:0;}
.MenuBar .menu{ list-style:none; margin-top:20px; padding:0;}
.MenuBar img { margin-left: -8px; margin-top: 9px; }
.menu li a { color:rgb(88,88,88); }
.menu img { float:right; margin-top:-18px; display:inline-block; }
.MenuBar li{ margin:0 0 26px 0;}
.MenuBar li a{ text-decoration:none; /* background:#9CC; */ height:21px; display:block;   /* text-indent:-9999%; */ overflow:hidden;}
.MenuBar li a span{ margin-left:7px; display:block; margin-top:2px;} 
.MenuBar li a.on{ font-weight:bold; background-color:rgb(119,114,109); color:white;}
.MenuBar li li{ margin:0;}
.MenuBar li li a{ background:#CC6; display:block;}
.MenuBar li li a.on{ font-weight:bold;}

.contain { display:flex; width:1200px; margin: 0 auto; margin-top:150px; margin-bottom:150px;}
.container { margin-right:100px; }
.contents {
	width: 850px;
	margin: 0;	
}
.contents .location .list{ margin-right: 7px; display:block; font-size:11px; background:url(http://localhost:9000/hotel/resources/img/inquiry/locaton.gif) no-repeat 0 1px; line-height:12px; padding:0 0 0 17px;}

.tableTypeF{ border:none; border-top:#cdcbbe solid 1px; width:100%; border-collapse:collapse; table-layout:auto;}
.tableTypeF th,
.tableTypeF td{ border:none; padding:6px 13px; text-align:left; line-height:22px; border-bottom:#eceae1 solid 1px; color:#333333}
.tableTypeF th{color:#666; background:#faf9f4; text-align:center;}
.tableTypeF td{ background:#FFF; color:#1b1b1b}
.tableTypeF td strong{ margin-left:30px; }
.tableTypeF .last th, .tableTypeF .last td {border-bottom:#cdcbbe solid 1px; }

.list { float:right; }
.tit { color: rgb(88,88,88); font-family: 나눔명조OTF; font-size:26px; margin-top:0; margin-bottom:10px;}
.tit1 { color: rgb(88,88,88); font-family: 나눔명조OTF; font-size:26px; margin-top:30px; margin-bottom:10px;}
#linewrite { margin-bottom: 5px; }

#btnInquiry { background-color:rgb(58,49,37); color:rgb(250,241,208); height: 34px; float:right; margin-top:-15px; width: 65px;}
#listtable { 
	border-collapse:collapse; 
	text-align:center; 
	width:850px; 
	border:none; 
	margin-top:10px;
}
#listtable tr:first-child {
	 background-color: #ebe7e3; 
	 height:38px;
	 font-size:12px; 
	 color:rgb(125,120,115);
	 border:1px solid #cdcbbe;
}
#tabletitle { width:340px; }
#listtable tr { height:37px; font-size:14px; }
#listtable tr:last-child > td { border-color: white; }
#listtable .inquiry-title>a {
	color:black; 
	text-decoration:none;
	margin-left: 15px;
}
.inquiry-title{
	position: relative;
	text-align: left;
}
#search { text-align:center; margin-top: 25px; }
#searchspan { font-size:12px; }
.search_list { height:22px; }
#searchName { height: 17px; }
#btnSearch { 
	background-color: rgb(58,49,37); 
	color: rgb(250,241,208); 
	height: 23px; 
	font-size: 12px; 
	width: 40px;
	border-radius: 2px;
}
#ampaginationsm { height:80px; }
#ampaginationsm ul { margin-top:35px; } 
.commentimg {
	background : url(http://localhost:9000/hotel/resources/img/inquiry/feedback.png); 
	background-size:contain;
 	width: 21px;
	height: 21px; 
	display: inline-block; 
	margin-left:5px;
	top:5px;
	background-repeat: no-repeat;
	position: absolute;
}
#no {height: 100px;}
#replynone, #resetbutton{border:none; background-color:white;}
#nonetable{
	margin: 15px 0;
	display: flex;
	justify-content: right;
	gap:50px;
	position: relative;
}
#nonetable button{
	margin: 0;
}
#replynone:after {
	content:"";
	display: inline-block;
	position:absolute;
	width: 1px;
	top:5px;
	height: 10px;
	margin-left:25px;
	background-color: #cdcbbe;
}

/********************* inquiry-content *********************/
.customerBoard { border-collapse:collapse; text-align:center; width:869px; border-color:#cdcbbe; margin-left: 5px; }
.customerBoard tr:first-child { background-color: #ebe7e3; height:38px; font-size:16px;}
.customerBoard tr:first-child td, .customerBoard tr:nth-child(2) td { text-align:center;}
.customerBoard tr:nth-child(2) { background-color: #ebe7e3; height:38px; font-size:16px;}
.customerBoard tr { height:35px; font-size:14px; }
.customerBoard a { color:black; text-decoration:none; }
.customerBoard td { text-align: left; padding-left: 10px; }
.tablecontent { height:340px; vertical-align: top; text-align: left; padding-left: 10px; padding-top: 10px; padding-bottom: 0px; padding-right: 0px; }
#btnlist { text-align:center; margin-top:50px; }
#btn_InquiryUpdate, #btn_InquiryDelete, #btn_InquiryList { background-color:rgb(58,49,37); color:rgb(250,241,208); width:99px; height:35px; vertical-align: middle; font-size:14px; font-weight: bold; }
#ex1 { text-align:center; }
#ex2 { text-align:center; }
#ex3 { text-align:center; }
#modal_delete { background-color: white; font-size: 16px; color: rgb(58,49,37); font-weight: 800; }
#replydelete { float: right; margin-top: -1px; width: 20px;}
.replytable { width: 868px; border-collapse: collapse; margin-left: 5px; border-color:#cdcbbe; margin-top: 20px; }
.replytable tr:first-child { background-color: #ebe7e3; }
.replytable #replycontent { vertical-align: text-top; padding: 10px; }

/********************* inquiry-update, admin-inquiry-update *********************/
.tableTypeA{margin:20px 0px 0px 0px;border:none;border-top:#cdcbbe solid 1px; width:100%;border-collapse:collapse;table-layout:fixed;}
.tableTypeA th,
.tableTypeA td{border:none;padding:6px 13px;text-align:left;line-height: 22px;border-bottom:#eceae1 solid 1px;color:#333333;}
.tableTypeA th{color:#666; background:#faf9f4; }
.tableTypeA td{ background:#FFF; color:#1b1b1b}
.tableTypeA .last th,.tableTypeA .last td {border-bottom:#cdcbbe solid 1px;}
.tableTypeA .bdBot{border-bottom:#cdcbbe solid 1px !important; }

.contentarea { width:670px; height:180px; vertical-align: middle; }
.titlearea { width:668px; height:23px; vertical-align: middle;}
#category {width:100px; height:23px; margin-left: -287px;}
#passwordlable { margin-left:30px; }
#secretnum { width:100px; height:23px; }
#category, .titlearea, #secretnum, .contentarea { border: #CCC solid 1px; }
#btnlist { text-align:center; margin-top:50px; }
#upload_file { position:relative; display:inline-block; background-color: white; font-size:14px; width:120px; left:-181px; }
#btnInquiryUpdate, #btnInquiryList, #btnRest { background-color:rgb(58,49,37); color:rgb(250,241,208); width:99px; height:35px; vertical-align: middle; font-size:14px; font-weight: bold; }

/********************* inquiry-wirte *********************/
.privacy { margin:20px 0 7px 0; font-size:16px; }
.clauseBox{ margin:0 0 10px 0;}
.clauseBox .scBox{ font-size:12px; border:#CCC solid 1px; height:60px; overflow:auto; overflow-x:hidden ;padding:10px;  margin:0 0 5px 0;}
#btnWrite { text-align: center; }
#btnInquiryWrite { margin-top:35px; background-color:rgb(58,49,37); color:rgb(250,241,208); width:99px; height:44px; vertical-align: middle; font-size:17px; font-weight: bold;}
.ast {color:red;}

/********************* admin_inquiry-content *********************/
#btn_InquiryUpdate, #btn_InquiryDelete, #btn_InquiryList, #btn_ReplyWrite { background-color:rgb(58,49,37); color:rgb(250,241,208); width:99px; height:35px; vertical-align: middle; font-size:14px; font-weight: bold; }
#ex1 { text-align:center; }
#modal_delete { margin-top: 15px; background-color: white; font-size: 17px; color: black; font-weight: 800; border: none; margin-right: 10px; }
.replywritetable { margin-left: 4px; text-align:center; margin-top:30px; }
.replywritetable th { height:40px; }
.replywritetable th label { padding: 7px 40px 7px 40px; width:175px; background-color: #ebe7e3; border: 1px solid #ebe7e3; border-radius: 7px; margin-left: 85px; margin-right: 80px; }
.replywritetable .label1 { padding: 7px 32px 7px 32px; }
.replywritetable td input { width: 574px; height: 28px; padding:0; }
.replywritetable td textarea { border-color:#cdcbbe; width:574px; height: 90px; }
form[name='replyinquiry'] button { position: absolute; margin-top: 50px; margin-left: 179px; }

/******************************************/
#passCheck{background: none; border: none; font-size: 15px; font-weight: 700; margin-left: 5px; margin-right: 3px;}
#passCheckText {margin-bottom: 15px; font-size: 17px; text-align: center; margin-top: 7px;}
.modal {text-align: center; height: 200px;}
#ex2 img {margin-top: 3px;}
#ex2 a {margin-top: 8px;}
#cancel {color: black; font-weight: 600;}
#ex3 p {margin-top: 10px; font-size: 19px;}