@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0;
}
body { margin:0; padding:0; }
body, input, button, textarea, select {
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', '돋움', ​Dotum, Tahoma, Arial;
    color: #333;
    line-height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
}
ul, li, ol {
    list-style-type: none;
}

.noticepage {
	margin : 35px auto;
	width : 85%;
	
}
.common_wrap_yy {
    position: absolute;
    left: 0;
    right: 0;
    top: -55px;
    background: #977f51;
    z-index: 90;
}
.common_wrap_yy .common_inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.common_wrap_yy .location > ul {
    display: inline-block;
    height: 47px;
}
.common_wrap_yy .location > ul > li {
    position: relative;
    float: left;
    padding-right: 25px;
    background: url(https://www.sonohotelsresorts.com/img/sb/yy/images/common/bg_location.png) no-repeat right 0;
}
.common_wrap_yy .location > ul > li > a {
    position: relative;
    display: inline-block;
    min-width: 180px;
    height: 47px;
    padding: 17px 40px 16px 20px;
    color: #fff;
    box-sizing: border-box;
}
.sub_title {
    text-align: center;
    margin-bottom: 30px;
}
.sub_title h2 {
    position: relative;
    padding: 0px 0 10px;
    font-size: 28px;
    line-height: 100%;
    font-weight: normal;
}
.sub_title p {
    margin: 15px 0 20px;
    font-family: 'PT Serif', serif;
    font-size: 46px;
    font-style: italic;
    line-height: 100%;
}
.sub_title > span {
    display: block;
    color: #999;
    line-height: 160%;
}
.menu_list {
	 position: sticky;
	 width:220px;
  	top: 0;
  	align-self: flex-start;
	display : inline-block;
	float : left;
	background: #ebe7e3;
	padding : 3px;
	margin: 200px auto;
}

.menu_list_inner {
	width: 216px;
	background: #ebe7e3;
	padding 23px;
	margin: 0 0 30px 0;
}
.menu_list_inner li{
	margin: 0 0 26px 0;
	display: list-item;
    text-align: -webkit-match-parent; 
    list-style:none;
}
.menu_list_inner li a{
	text-decoration-line : none;
	color: #5f5a5a;
}
.menu_list_name {
	color: #5f5a5a;
	border-bottom : 5px solid;
	background-position: 0 0;
	text-align : center;
	padding : 10px;
}
#menu_name {
	margin : 15px;
}

ul.menu {
	display : block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}



.contents_area {
	overflow: hidden;
    width: 850px;
    padding-top: 10px;
    position: relative;
    min-width: 180px;
    color: rgb(125,120,115);
    box-sizing: border-box;  
}


.search {
text-align: right;
}
.contents_table{
	width: 850px;
	overflow: hidden;
	height: auto;
	margin: 0;
	border-collapse: collapse;
}
.contents_table tr{
	margin:0 auto;
}
.contents_table tr:nth-child(2) th{
	border-bottom:1px solid #d8d8d8;
}
.contents_table tr:nth-child(2) th:nth-child(3),.contents_table tr:nth-child(2) th:nth-child(2){
	border:1px solid #d8d8d8;	
}
.contents_table tr th:not(:nth-child(2)) {
	width : 180px;
}

.contents_table tr th:nth-child(2) {
	width: 900px;	
}
.contents_table tr td:not(:nth-child(2)) {
	width : 180px;
	text-align : center;
}
.contents_table tr td:nth-child(2) {
	width: 600px;
	padding:0 0 0 20px;	
	border:1px solid #d8d8d8;
}
.contents_table tr td:nth-child(3){
		border:1px solid #d8d8d8;	
}
.contents_table th {
	background: #ebe7e3;
	margin : 7px 0;
	padding : 7px 0;
}
.contents_table td {
	padding : 7px 0;
}
.contents_table td div{
	margin:0 0 0 10px;
}
.contents_table td:not(:nth-child(2)) div{
	text-align : center;
}
.contents_table tr:last-child td{
	border:none;
}
.contents_table td {
    padding: 14px 0;
    border-bottom: 1px solid #d8d8d8;
    color: #777;
}
.contents_table button {
	margin-left : 4px;
	font-size : 15px;
	text-align: center;
	height : 22px;
    width: 52px;
    padding: 2px 0 2px;
    background: #333;
    color: #fff;
    vertical-align: top;
        border: 0 none;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
	float : left;
}
.contents .location .list{  display:block; font-size:11px; background:url(http://localhost:9000/hotel/resources/img/home.jpg) no-repeat 0 1px; line-height:12px; padding:0 0 0 17px;}

.search {
    margin-bottom: 35px;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap:5px;
    align-items: center;
}
.search > span:first-child {
    margin: 0;
    font-size: 14px;
}
.search .select {
    width: 95px;
}
.search .keyword {
    width: 252px;
}
.search input[name="keyword"]{
	outline: none;
}
.search button {
	margin-left : 4px;
	font-size : 15px;
	text-align: center;
	height : 22px;
    width: 52px;
    padding: 2px 0 2px;
    background: #333;
    color: #fff;
    vertical-align: top;
        border: 0 none;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
}
.contents{
	position: relative;
    width: 850px;
    margin: 0;
}

.boardContent tr:last-child{
    text-align: right;

}
.boardContent tr:last-child .btn_style {
    background: #977f51;
    color: #fff;
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    border:none;
}
.boardContent {
    width: 850px;
    border-collapse: collapse;
}

.boardContent tr{
	display: table-row;
    vertical-align: inherit;
    border-color: #cdcbbe;
}
.boardContent tr:first-child{
	border-top: 1px solid #cdcbbe;
}
.boardContent th {
    padding: 14px 10px;
    border-bottom: 1px solid #cdcbbe;
    background: #ebe7e3;
    
}
.boardContent td {
    padding: 15px 20px;
          border-bottom: 1px solid #cdcbbe;
}
.boardContent tr:nth-child(3) img {
	position: center;
}
.writeContent {
	position: relative;
    width: 850px;
    margin: 0px 0;
  
}



.admin-notice-write-box{
	border-collapse: collapse;		
	margin: 0;
}
.admin-notice-write-box tr{
	border:1px solid #cdcbbe ;
	border-left:none;
	border-right:none;
	width: 850px;	
}
.admin-notice-write-box th label{
}
.admin-notice-write-box th{
	text-align: center;
	width: 130px;
	height: 40px;
	border-right: 1px solid #cdcbbe ;
	background-color: #ebe7e3;
}
.admin-notice-write-box tr:last-child th{
	height: 160px
}
.admin-notice-write-option, .admin-notice-write-title, .admin-notice-write-file{
	width: 700px;
	padding: 0 20px; 
}

.admin-notice-write-box input[name=ntitle]{
	font-size: 16px;
	border:none;
}

.admin-notice-write-box input[name=ntitle]:focus, .admin-notice-write-box textarea[name=ncontent]{
	outline: none;
}
.admin-notice-textarea{
	width: 700px;
	overflow: auto;
	height: 160px;
 	border:none;
 	resize: none;
}

.img-container{
	width: 100px;
	padding: 20px;
	margin: 0 40px;
}
.admin-write-show-img{
	width: 100px;
	margin: 0;
}




.tag_box > .tit {
    height: 100%;
}
.write_infobox {
    position: relative;
    margin: 16px 0 14px;
    font-size: 12px;
    color: #666;
        clear: both;
    display: inline-block;
    min-width: 715px;
    padding-right: 11px;
    margin-top: 10px;
}
.write_infobox label {
	backgroung-color : #ebe7e3;
}
.tag_box .write_infobox li {
	padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
.clear [id="ntcwrite"], textarea[id="ntcwrite"] {
	margin-left : 20px;
	margin-top : 10px;
}

.clear [id="ntcwrite_button"]{
	position: relative;
	left : 400px;
	top : 15px;
}
.clear button{
	font-size : 15px;
	text-align: center;
	height : 27px;
    width: 73px;
    padding: 2px 0 2px;
    background: #ebe7e3;
    vertical-align: top;
        border: 0 none;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
	float : left;
	border-radius: 2px;
	transition: background-color 250ms;
}
.clear button:hover{
	background-color:#cdcbbe;	
}
.admin-write-bottons{
	display: flex;
	justify-content: right;
	gap:8px;
	margin: 7px 0;
}

#no {height: 100px;}
#replynone, #resetbutton{border:none; background-color:white;}
#nonetable{
	margin: 15px 0;
	display: flex;
	justify-content: right;
	gap:50px;
	position: relative;
}
